.showcase {
  background-image: url(../../images/music.jpg);
  background-position: center left;
  background-size: cover;
  min-height: 20em;
  @include bp(mama-bear) {
    min-height: 25em;
    height: 75%;
    max-height: 45em;
  }
}

.social-media {
  text-align: center;
  margin: 3em 0;
  a {
    display: inline-block;
    background-color: $red;
    color: $white;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.2em solid $red;
    padding: 0.9em;
    margin: 0 0.6em;
    &:hover, &:focus {
      color: $red;
      background-color: transparent;
    }
  }
  i {
    font-size: 1.8em;
  }
}

.tags {
  border-top: 0.1em solid $grey;
  margin-bottom: 4em;
  @include bp(mama-bear) {
    margin-bottom: 10em;
  }
}

.tag-cloud {
    max-width: 40em;
    margin: 0 auto;
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 1.5em;
      padding: 0.3em;
    }
    .counter {
      color: $red;
      font-size: 1.1rem;
    }
  }

.next_project_picture {
  display: block;
  position: relative;
  background-image: url(../../images/42H.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 10em;
  &:before {
    opacity: 1;
    position: absolute;
    content: "";
    background-color: rgba($black, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
  }
  &:hover, &:focus {
    &:before {
      opacity: 0;
    }
  }
  @include bp(mama-bear) {
    min-height: 20em;
  }
  a {
    text-decoration: none;
  }
  h1 {
    margin-bottom: 0;
    color: $white;
  }

  h2 {
    color: $white;
    font-weight: 300;
    margin: 0;
  }
}