.work {
  .selection {
    list-style-type: none;
    margin: 0 0 1.8em 0;
    padding: 0;
    li {
      float: left;
    }
    a {
      padding: 0.3em 0.8em;
      color: $red;
      background-color: $white;
      margin-right: 0.2em;
      border: 0.15em solid $red;
      text-decoration: none;
      &.active, &:hover, &:focus {
        color: $white;
        background-color: $red;
      }
    }
  }

  .module {
    position: relative;
    @include bp(baby-bear) {
      width: 33%;
      margin-bottom: 0.5%;
      &:before {
        opacity: 0;
        position: absolute;
        content: "";
        background-color: rgba($red, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
    .content {
      text-align: center;
      display: none;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 3;
      transform: translate(0,-55%);
      padding: 1em;
      color: $black;

    }
    h2 {
      margin: 0;
      font-size: 1.8em;
      // @include bp(baby-bear) {
      //   font-size: 1.8em;
      // }
      @include bp(mama-bear) {
        font-size: 3em;
      }
      font-weight: 300;
    }
    a {
      position: relative;
      display: inline-block;
      margin-top: 1em;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $grey;
      border: none;
      padding: 0.3em 1em;
      color: white;
      text-decoration: none;
    }
    p {
      margin: 0;
      font-size: 1.1em;
      // @include bp(baby-bear) {
      //   font-size: 3em;
      // }
      @include bp(mama-bear) {
        font-size: 1.5em;
      }
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .content {
        display: block;
      }
    }
  }
}
